.Tabs {
  top: 0;
  right: 0;
  left: 245px;
  z-index: -1;
  position: fixed;
  width: calc(100% - 45px);
  height: calc(100% - 20px);
  background: lighten($Secondary, 5);

  .tab-buttons {
    width: calc(100% - (45px + 200px + 70px));
    height: 30px;
    position: fixed;
    display: flex;
    background: $Secondary;
    overflow: scroll;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .tab {
    min-width: 75px;
    padding: 0 10px;
    overflow: hidden;
    font-size: 11px;
    line-height: 30px;
    text-align: left;
    align-items: center;
    justify-content: center;
    color: darken($Light, 25);
    background: darken($Secondary, 2);
    box-sizing: content-box;
    position: relative;
    cursor: pointer;
    outline: none;
    border: none;

    &:not(:last-child) {
      border-right: 1px solid lighten($Secondary, 5);
    }
  }

  .active-tab {
    color: $Primary;
    background: lighten($Secondary, 5);

    &::before {
      content: "";
      top: 0;
      left: 50%;
      width: 100%;
      height: 2px;
      display: block;
      position: absolute;
      transform: translateX(-50%);
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      background: $Primary;
    }
  }

  .tab-action {
    position: fixed;
    right: 0;
    width: calc(70px - 1px);
    height: 30px;
    display: flex;
    text-align: right;
    background: $Secondary;

    img {
      width: 30px;
      height: 30px;
      padding: 7px;
      opacity: 0.6;
      &:hover {
        opacity: 1;
      }
    }
  }

  .tab-contents {
    flex-grow: 1;
    padding: 20px;
    margin-top: 30px;
    overflow: scroll;
    padding-bottom: 50px;
    width: calc(100% - 200px);
    height: calc(100% - 30px);

    .content {
      display: none;
      word-break: break-word;
      
      h2,
      h3,
      h4 {
        text-align: center;
        padding-bottom: 10px;
        color: darken($Light, 25);
      }
      h4:last-child {
        margin-bottom: 50px;
      }
      p {
        color: darken($Light, 25);
        margin: 20px 0;
        text-indent: 5%;
        font-size: 13pt;
        line-height: 1.5;
      }
      b {
        font-size: 12pt;
      }
      span {
        opacity: 0.5;
      }
      .g {
        margin-top: 0;
        text-indent: 0;
        margin-bottom: 0;
        margin-left: 13%;
      }
      .ge {
        margin-top: 0;
        text-indent: 0;
        margin-left: 13%;
      }
      .gend {
        margin-top: 0;
        text-indent: 0;
        margin-left: 13%;
        margin-bottom: 50px;
      }
      .end {
        text-indent: 0;
        margin-bottom: 50px;
        text-align: center;
        font-size: medium;
      }
    }
    .active-content {
      display: block;
    }
  }
}

@media screen and (max-width: 500px) {
  .Tabs {
    left: 45px;

    .tab-buttons {
      width: calc(100% - (45px + 70px));
    }

    .tab-contents {
      width: 100%;
      padding: 10px;
    }
  }
}
