@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Noto+Sans+Chakma&family=Noto+Serif+Bengali:wght@400;500;600;700;800&display=swap");

:root {
  --BalooDa2: "Baloo 2";
  --NotoSansChakma: "Noto Sans Chakma";
  --NotoSerifBengali: "Noto Serif Bengali";
}

*,
body {
  font-family: cursive, sans-serif, serif;
  font-family: var(--BalooDa2), var(--NotoSerifBengali), var(--NotoSansChakma);
}
