@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap");

$BalooDa2: "Baloo 2";

$color-primary: #282c34;
$color-secondary: #20232a;
$color-accent: #61dafb;
$color-link: #06bcee;
$color-Dark: #000000;
$color-Light: #ffffff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-family: $BalooDa2;
  color: $color-accent;
}

body {
  margin: 0;
  font-family: $BalooDa2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link {
  color: $color-link;
}
